<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupUser</servlet-name>
        <servlet-class>controller.SignupUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmpt</servlet-name>
        <servlet-class>controller.LoginEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupEmpt</servlet-name>
        <servlet-class>controller.SignupEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrder</servlet-name>
        <servlet-class>controller.ViewAllOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupUser</servlet-name>
        <url-pattern>/SignupUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmpt</servlet-name>
        <url-pattern>/LoginEmpt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>controller.FilterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupEmpt</servlet-name>
        <url-pattern>/SignupEmpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrder</servlet-name>
        <url-pattern>/ViewAllOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
