<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller_Cust.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller_Cust.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupUser</servlet-name>
        <servlet-class>controller_Cust.SignupUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmpt</servlet-name>
        <servlet-class>controller_Cust.LoginEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupEmpt</servlet-name>
        <servlet-class>controller_Cust.SignupEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller_Cust.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller_Cust.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller_Cust.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrder</servlet-name>
        <servlet-class>controller_Cust.ViewAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetail</servlet-name>
        <servlet-class>controller_Cust.ViewOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller_Cust.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder1</servlet-name>
        <servlet-class>controller_Cust.ViewOrder1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder2</servlet-name>
        <servlet-class>controller_Cust.ViewOrder2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder3</servlet-name>
        <servlet-class>controller_Cust.ViewOrder3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder4</servlet-name>
        <servlet-class>controller_Cust.ViewOrder4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>controller_Cust.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller_Cust.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment2</servlet-name>
        <servlet-class>controller_Cust.Payment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAllCartController</servlet-name>
        <servlet-class>controller_Cust.DeleteAllCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controller_Cust.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductFromCartController</servlet-name>
        <servlet-class>controller_Cust.DeleteProductFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerEmployee</servlet-name>
        <servlet-class>controller_Empt.controllerEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelEmpt</servlet-name>
        <servlet-class>controller_Empt.cancelEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutEmpt</servlet-name>
        <servlet-class>controller_Empt.logoutEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEmpt</servlet-name>
        <servlet-class>controller_Empt.editEmpt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementController</servlet-name>
        <servlet-class>controller_Empt.ProductManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupUser</servlet-name>
        <url-pattern>/SignupUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmpt</servlet-name>
        <url-pattern>/LoginEmpt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller_Cust.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>controller_Cust.FilterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller_Empt.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/product_detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller_Cust.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupEmpt</servlet-name>
        <url-pattern>/SignupEmpt</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrder</servlet-name>
        <url-pattern>/ViewAllOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetail</servlet-name>
        <url-pattern>/ViewOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder1</servlet-name>
        <url-pattern>/ViewOrder1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder2</servlet-name>
        <url-pattern>/ViewOrder2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder3</servlet-name>
        <url-pattern>/ViewOrder3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder4</servlet-name>
        <url-pattern>/ViewOrder4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/SearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment2</servlet-name>
        <url-pattern>/Payment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAllCartController</servlet-name>
        <url-pattern>/DeleteAllCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/UpdateCartQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductFromCartController</servlet-name>
        <url-pattern>/DeleteProductFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerEmployee</servlet-name>
        <url-pattern>/controllerEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelEmpt</servlet-name>
        <url-pattern>/cancelEmpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutEmpt</servlet-name>
        <url-pattern>/logoutEmpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEmpt</servlet-name>
        <url-pattern>/editEmpt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementController</servlet-name>
        <url-pattern>/ProductManagement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
